<div class="new-list">
<p>
  Create a Scavenger
</p>
<%= render partial: "new" %>

</div><br>
<p>&nbsp;</p>

<div>
  <% @lists.each do |list| %>
    <% if list.clues.length>0 %>
    <%= list.name %><br>
    <%= link_to "Play", "/lists/#{list.id}/clues/#{list.clues.first.id}", method:"get", class: "btn btn-lg btn-success" %><br>
    <% end %>
  <% end %>

</div>
