<%= link_to "Create Hunt", new_list_path, method:"get", class: "btn btn-lg btn-success" %>

<div class="switch-lists-button" id="all-lists-button">
  All Lists
</div>

<div class="switch-lists-button" id="your-lists-button">
  Your Lists
</div>

<div id="your-lists">
  <% @lists.each do |list| %>
    <% if list.clues.length > 0 && list.creator && list.creator == current_user.id %>
      <div class="col-xs-10 col-sm-4">
        <%= link_to "#{list.name}, #{list.location}", "/lists/#{list.id}/clues/#{list.clues.first.id}", method:"get", class: "btn btn-md btn-success" %>
      </div>
      <div id="circle-graph" class="col-xs-2 col-sm-2">
        test
      </div>
    <% end %>
  <% end %>
</div>


<div id="all-lists">
  <% @lists.each do |list| %>
    <% if list.clues.length>0 %>
      <div class="col-xs-10 col-sm-4">
        <%= link_to "#{list.name}, #{list.location}", "/lists/#{list.id}/clues/#{list.clues.first.id}", method:"get", class: "btn btn-md btn-success"%>
      </div>
      <div id="circle-graph" class="col-xs-2 col-sm-2">
        test
      </div>
    <% end %>
  <% end %>
</div>
