@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@import "csoon";
@import "animate.min";
@import "ionicons.min";
@import "vegas/vegas.min";

#your-lists {
  display: none;
}

input{
  color: black;
}

strong {
    text-transform: lowercase;
}

#text{
  color: black;
}

#footer {
  height: 60px;
  text-align: center;
  background-color: black;
  color: white;
}

#all-lists-button {
  color: red;
  hover: #fff;
}

#your-lists-button {
  color: white;
  hover: #fff;
}

#index-button {
  background-color: #525454;
}
