// Place all the styles related to the clue controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// body {
//   background-color: black;
//   color: white;
// }
//
// input {
//   color: white;
// }
.btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.clue-wrapper {
  width: 60%;
  margin: auto;
}

.clue-text {
  font-weight: bolder;
}

.clue-info {
  width: 85%;
  float: left;
  min-height: 100px;
}

.clue-wrapper{
  margin-top: 50px;
}

.icons {

}

.edit {
margin-bottom: 5px;
}

.delete {

}

#new-clue-submit {
  clear: both;
  margin: auto;
  // width: 50%
}

.edit_clue {
  width: 100%;
  display: none;
  clear: both;
}
