// Place all the styles related to the clue controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.hidden-for-toggle {
  display: none !important;
}



.icons {
  width: 84px;
  margin:auto;
}

.edit {
margin: 5px;
float: left;
}

.delete {
  float: left;
  margin: 5px;
}

#new-clue-submit {
  clear: both;
  margin: auto;
}

.edit_clue {
  color: black;
}

button {
  margin: 20px;
}
