// Place all the styles related to the list controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#your-lists {
  display:none;
}


#new-from-address-submit-button {
  display: none;
}


.hunt-item {
  height: 60px;
}

#edit-lists-form-wrapper {
  display: none;
}
