<div class="clue-list">
  <% if @list.clues.length>0 %>
  <%= render partial:"all_clues" %>
  <%= link_to "Finish", "/lists/#{@list}/clues", method:"get", class: "btn btn-lg btn-success" %>
  <% end %>
</div>

<div id="new-clue-form">
  <%= render partial: "new" %>
</div>
